@{
    ViewBag.Title = "Home Page";
}

<h4 class="col-lg-12 text-center home-textarea">
    Welcome to the WG Banking Ledger.<br /><br />
    Please
    @Html.ActionLink("Log in", "Login", "Account", "", new { @class = "btn btn-default", role = "button" })
    or
    @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-default", role = "button" })
    to create and view accounts.
</h4>